<h1>Edit article</h1>

<%= render 'form' %>

<div>
  <%= link_to 'Show', article_path(@article) %>
  <%= link_to 'Detete', @article, method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to 'Return to articles listing', articles_path %>
</div>