<h1 class="heading text-center mt-3 display-4">Articles</h1>

<div class="row justify-content-center">
  <%= link_to 'Create new article', new_article_path, class: "btn-custom my-3 justify-content-md-center" %>
</div>

<%= render 'articles', articles: @articles %>

<div class="row justify-content-center">
  <%= link_to 'Create new article', new_article_path, class: "btn-custom mt-3 mb-4 justify-content-md-center" %>
</div>