<h1 class="heading text-center mt-3 display-4"><%= @user.username %></h1>
<%= gravatar_for(@user, 200) %>

<h2 class="text-center mt-3 display-4">Articles</h2>

<%= render 'articles/articles', articles: @user.articles %>