<section class="section-home" id="page-content">
  <div class="container home-container text-center text-light">
    <div class="jumbotron my-auto mx-auto">
      <h1 class="display-4">Wecome to Alpha Blog!</h1>
      <p class="lead">Blogging website that let's you speak your mind.</p>
      <hr class="my-4 bg-light w-75">
      <p>What are you waiting for? Sign up now to post your Alpha Blog!</p>
      <%= link_to 'Sign up', signup_path, class: "btn btn-primary btn-lg mt-4" %>
    </div>
  </div>
</section>

<footer id="sticky-footer" class="py-3 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>