<section id="section-home">
  <div class="container text-center text-light" id="home-container">
    <div class="jumbotron my-auto mx-auto">
      <h1 class="display-4">Wecome to Alpha Blog!</h1>
      <p class="lead">Blogging website that lets you speak your mind.</p>
      <hr class="my-4 bg-light w-75">
      <p>What are you waiting for? Sign up now to post your Alpha Blog!</p>
      <a class="btn btn-success btn-lg mt-4" href="#" role="button">Sign up</a>
    </div>
  </div>
  
</section>

