@import 'bootstrap/dist/css/bootstrap';

#logo {
  float: left;
  font-size: 200%;
  color: white;
  text-transform: uppercase;
}

.hero-text-box {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
}


#home-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

#home-container .jumbotron {
  background-color: rgba(34, 34, 34, 0.6);
}

#section-home {
  background-image: asset-url('hero-img.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

#home-container p {
  font-size: 130%;
  font-weight: 100;
}

#sticky-footer {
  flex-shrink: none;
}